h2
{
   color:gold;
   font-size:30px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p
{
    color:white;
    text-align:justify;
    font-size:25px;
    line-height:30px;
     margin-left:40px;
     margin-top:50px;
}